<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Update User</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        rel="stylesheet">
  <link crossorigin="anonymous"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        rel="stylesheet">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <div class="container my-5">
    <h3> Update car</h3>
    <div class="card">
      <div class="card-body">
        <div class="col-md-8">
          <form action="#"
                method="post"
                th:action="@{/update/{id}(id=${car.id})}" th:object="${car}">
            <div class="row">
              <div class="form-group col-md-8">
                <label class="col-form-label" for="model">Model</label> <input
                  class="form-control" id="model" placeholder="Model" th:field="*{model}"
                  type="text"> <span
                  class="text-danger" th:errors="*{model}"
                  th:if="${#fields.hasErrors('model')}"></span>
              </div>
              <div class="form-group col-md-8">
                <label class="col-form-label" for="mark">Mark</label> <input
                  class="form-control" id="mark" placeholder="Mark" th:field="*{mark}"
                  type="text"> <span
                  class="text-danger" th:errors="*{mark}"
                  th:if="${#fields.hasErrors('mark')}"></span>
              </div>

              <div class="form-group col-md-8">
                <label class="col-form-label" for="color">Color</label> <input
                  class="form-control" id="color" placeholder="Color" th:field="*{color}"
                  type="text"> <span
                  class="text-danger" th:errors="*{color}"
                  th:if="${#fields.hasErrors('color')}"></span>
              </div>

              <div class="form-group col-md-8">
                <label class="col-form-label" for="bodyType">Body type</label> <input
                  class="form-control" id="bodyType" placeholder="Body type" th:field="*{bodyType}"
                  type="text"> <span
                  class="text-danger" th:errors="*{bodyType}"
                  th:if="${#fields.hasErrors('bodyType')}"></span>
              </div>

              <div class="form-group col-md-8">
                <label class="col-form-label" for="price">Price</label> <input
                  class="form-control" id="price" placeholder="price"
                  th:field="*{price}" type="text"> <span
                  class="text-danger" th:errors="*{price}"
                  th:if="${#fields.hasErrors('price')}"></span>
              </div>

              <div class="form-group col-md-8">
                <label class="col-form-label" for="year">Year</label> <input
                  class="form-control" id="year" placeholder="year"
                  th:field="*{year}" type="text"> <span
                  class="text-danger" th:errors="*{year}"
                  th:if="${#fields.hasErrors('price')}"></span>
              </div>

              <div class="form-group col-md-8">
                <input class="btn btn-primary" type="submit"
                       value="Update car">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>